<link rel="stylesheet" href="{%static 'css/services.css'%}">
	
        <div class="wrap">
            <div class="content-title">
                Настройки клуба
            </div>
            <div class="content-under-title">
                {{current_company.name}}
            </div>
            <div class="scrollable-services" id="services">
                
                    <div class="service-block" id="service">
                        <div class="service-title">
                            Настройки
                        </div>
                        
                        
                        <div role="img" class="edit" id="edit"  onclick="edit()" title="Редактировать"></div>
                        <div role="img" class="arrow" id="arrow" onclick="drop()" title="Показать больше"></div>
                        <div class="under-block" id="under">
                            <div class="schedule-block">
                                <div class="schedule-title">
                                    График работы
                                </div>
                                {%for schedule in company.days.all|dictsortreversed:"day"%}
                                    <div class="day-of-week day-block">
                                        <div class="day-of-week-up days-service" id="day-of-week{{schedule.id}}" onclick="open_edit_block({{schedule.id}})">{{schedule.get_cutted_name}}</div>
                                        <div class="edit-day-block" id="edit-block{{schedule.id}}">
                                            <div class="add-timeline-block" onclick="add_timeline({{schedule.id}}, {{schedule.day}})">
                                                <div class="add-timeline-title">Добавить</div>
                                                <div class="add-timeline-button"></div>
                                            </div>
                                            
                                            <table id="timeline{{schedule.id}}" class="timelines timeline" >
                                                <tr>
                                                    <th>Время</th>
                                                    <th>Кол-во людей</th>
                                                    <th>Цена</th>
                                                </tr>
                                                {%for timeline in schedule.timelines.all%}                                                    
                                                    {%if timeline.start_time|date:'H:i' != "00:00" and timeline.end_time|date:'H:i' != "00:01"%}
                                                        <tr id="current_timeline{{timeline.id}}">
                                                            <td>
                                                                <div class="delete-timeline" onclick="delete_timeline({{timeline.id}})"></div>
                                                                <input type="time" disabled placeholder="{{timeline.start_time|date:'H:i'}}" value="{{timeline.start_time|date:'H:i'}}" class="day-of-week-down day">
                                                                <span> - </span>
                                                                <input type="time" disabled placeholder="{{timeline.end_time|date:'H:i'}}" value="{{timeline.end_time|date:'H:i'}}" class="day-of-week-down day">
                                                                <input disabled value="{{timeline.id}}" style="position: absolute; visibility: hidden; z-index: -5;">
                                                            </td>
                                                            <td>
                                                                <input type="text" disabled placeholder="{{timeline.limit_people}}" value="{{timeline.limit_people}}" class="day-of-week-down place">
                                                            </td>
                                                            <td>
                                                                <input type="text" disabled placeholder="{{timeline.price}}" value="{{timeline.price}}" class="day-of-week-down price">
                                                            </td>
                                                        </tr>      
                                                    {%else%}
                                                        <script>
                                                            $(document).ready(function(){
                                                                delete_timeline({{timeline.id}});
                                                            });                                                            
                                                        </script>
                                                    {%endif%}                                                                                              
                                                {%endfor%}                                                    
                                            </table>
                                            
                                        </div>
                                        
                                        
                                    </div>
                                {%endfor%}
                                
                            </div>

                            <div class="schedule-block" style="height: auto;">
                                <div class="schedule-title" style="float: none; height: auto    ;">
                                    Основная фотография клуба - превью
                                </div>  
                                <form action="/api/update_avatar/" name="main_image_form" method="POST" id="main_image_form" class="image-form" enctype="multipart/form-data" style="float: none;">
                                    <input name="_csrf" type="hidden" value="{{csrfToken}}">
                                    <label for="add-main_image" class="add_main_image"></label>
                                    
                                    <div class="service-image-main-block" id="main_image" style="margin: 0px;">
                                        <img id="img_main_image" src="{%if company.avatar%}{{company.avatar.url}}{%else%}{%static 'img/no_photo.svg'%}{%endif%}"  alt="" class="service-main-image">                                            
                                    </div>                                        
                                    
                                    
                                    <input type="file" disabled id="add-main_image" name="image" onchange="add_main_image(this)" class="add-input">
                                    
                                    
                                </form>      
                                
                            </div>
    
                            <div class="schedule-block" style="height: auto;">
                                <div class="schedule-title" style="float: none; height: auto    ;">
                                    Изображения
                                </div>  
                                <form action="/api/add_image/" method="POST" id="images" class="image-form" enctype="multipart/form-data" style="float: none;">{%csrf_token%}
                                    <input name="_csrf" type="hidden" value="{{csrfToken}}">
                                    <label for="add-image" class="add"></label>
                                    {%for image in company.images.all%}
                                        <div class="service-image-block" id="image{{image.id}}">
                                            <img src="{{image.image.url}}"  alt="" class="service-image">
                                            <div class="image-trash" onclick="delete_image({{image.id}})"></div>
                                        </div>                                        
                                    {%endfor%}
                                    
                                    <input type="file" id="add-image" disabled name="image" onchange="add_image(this)" class="add-input">
                                    
                                    
                                </form>      
                                
                            </div>

                            <div class="schedule-block" style="height: auto;">
                                <div class="schedule-title" style="width: 100%;height: auto;margin-bottom: 30px;">
                                    Теги
                                </div>                                
                                <div class="tags-block" id="tags">
                                    {%for tag in tags%}
                                    <div class="tag-block">
                                        <div class="round">
                                            <input {%if tag|in_company:company %}checked{%else%}{%endif%} disabled type="checkbox" id="checkbox{{tag.id}}" />
                                            <label for="checkbox{{tag.id}}"></label>
                                        </div>
                                        <div class="tag">{{tag.name}}</div>
                                    </div>    
                                    

                                    {%endfor%}
                                </div>
                            </div>

                            <div class="schedule-block" style="height: auto;">
                                <div class="schedule-title" style="float: none; height: auto;">
                                    Описание
                                </div>                                
                                <textarea rows="5"  maxlength="1000" class="description" id="description" disabled placeholder="{{company.description}}" style="float: none;">{{company.description}}</textarea>                                
                            </div>

                            <div class="schedule-block" style="height: auto;">
                                <div class="schedule-title" style="float: none; height: auto;">
                                    Контактные данные
                                </div>                                
                                <textarea rows="5"  maxlength="1000" class="description" id="contacts" disabled placeholder="{{company.contacts}}" style="float: none;">{{company.contacts}}</textarea>                                
                            </div>                                                        
                        </div>
                    </div>
                
            </div>
            
        </div>
        
    
{% endblock %}

{%block scripts%}
    <script language="javascript">
        

        function drop(){
            arrow = $("#arrow")[0];
            if(arrow.style.backgroundImage == "" || arrow.style.backgroundImage == 'url("/static/img/down-arrow.svg")'){
                arrow.style.backgroundImage = 'url("/static/img/up-arrow.svg")';
                $("#under")[0].style.display = "block";
                $("#service")[0].style.height = "1640px";    
            } else{
                arrow.style.backgroundImage = 'url("/static/img/down-arrow.svg")';
                $("#under")[0].style.display = "none";
                $("#service")[0].style.height = "70px";
            }
            
        }

        function get_day_of_week(number){
            if(number == 6)return 0;
            if(number == 5)return 1;
            if(number == 4)return 2;
            if(number == 3)return 3;
            if(number == 2)return 4;
            if(number == 1)return 5;
            if(number == 0)return 6;
        }

        function edit(){
            blocks = $(".day-of-week-down.day");
            places = $(".place");
            service_name = $("#name")[0];
            tags = $(".round")
            prices = $(".price");
            description = $("#description")[0];
            contacts = $("#contacts")[0];
            edit_button = $("#edit")[0];
            add_image_button = $("#add-image")[0]; 
            add_main_image_button = $("#add-main_image")[0];
            days_blocks = $(".days-service");
            if(description.disabled == true){
                edit_button.style.backgroundImage = 'url("/static/img/save.svg")';
                edit_button.title = "Сохранить";
                for(var i = 0; i < blocks.length; i++){
                    blocks[i].disabled = false;   
                }    
                for(var i = 0; i < places.length; i++){
                    places[i].disabled = false;
                }
                for(var i = 0; i < prices.length; i++){
                    prices[i].disabled = false;
                }
                for(var i = 0; i < tags.length; i++){
                    tags[i].children[0].disabled = false;
                }
                //service_name.disabled=false;
                description.disabled=false;   
                contacts.disabled=false;       
                add_image_button.disabled=false; 
                add_main_image_button.disabled=false;
                for(var i = 0; i < days_blocks.length; i++){
                    days_blocks[i].style.border = "border-bottom: 1px solid gray;";
                }
            } else{
                
                timelines = $(".timeline");
                tags = $(".round")
                all_tags = []
                all_schedules = [];
                for(var i = 0; i < timelines.length; i++){
                    all_timelines = [];
                    for(var j = 1; j < timelines[i].children[0].children.length; j++){
                        console.log(timelines[i].children[0].children[j].tagName);
                        if(timelines[i].children[0].children[j].tagName == "SCRIPT"){
                            continue;
                        }
                        
                        start_time = timelines[i].children[0].children[j].children[0].children[1].value;
                        end_time = timelines[i].children[0].children[j].children[0].children[3].value;
                        timeline_id = timelines[i].children[0].children[j].children[0].children[4].value;
                        limit = timelines[i].children[0].children[j].children[1].children[0].value;
                        price = timelines[i].children[0].children[j].children[2].children[0].value;
                        
                        all_timelines.push({
                            "start_time": start_time,
                            "end_time": end_time,
                            "limit_people": parseInt(limit),
                            "price": parseInt(price),
                            "id": parseInt(timeline_id),
                        })
                    }
                    day_of_week = get_day_of_week(i);
                    all_schedules.push({
                        "timelines": all_timelines,
                        "day": day_of_week,
                    })
                }
                for(var i = 0; i < tags.length; i++){
                    if(tags[i].children[0].checked == true){
                        id = tags[i].children[0].id.replace("checkbox", "");
                        all_tags.push(id);
                    }
                }
                
                //console.log(service_name.value);
                token = get_token();
                $.ajax({
                    url: "/api/update_schedules/", 
                    type: "POST",
                    data: {"schedules":JSON.stringify(all_schedules), "description": description.value, "tags": JSON.stringify(all_tags), "contacts": contacts.value},
                    headers: {"Authorization": "Token "+token},
                    success: function(data){
                        if(data["error"]){
                            alertify.error(data["error"], 5);
                        }else{
                            edit_button.style.backgroundImage = 'url("/static/img/draw.svg")';
                            edit_button.title = "Редактировать";
                            for(var i = 0; i < blocks.length; i++){
                                blocks[i].disabled = true;  
                            }    
                            for(var i = 0; i < places.length; i++){
                                places[i].disabled = true; 
                            }
                            for(var i = 0; i < prices.length; i++){
                                prices[i].disabled = true; 
                            }
                            for(var i = 0; i < days_blocks.length; i++){
                                days_blocks[i].style.border = "none";
                            }
                            for(var i = 0; i < tags.length; i++){
                                tags[i].children[0].disabled = true;
                            }
                            //service_name.disabled=true;
                            description.disabled=true;
                            contacts.disabled=true;
                            add_image_button.disabled=true; 
                            add_main_image_button.disabled=true;
                            alertify.success("Изменения сохранены!", 4);
                        }
                    }
                });

                
            } 
            
        }

        function add_image(input){            
            token = get_token();
            var formData = new FormData($("#images")[0])
            $.ajax({
                url: "/api/add_image/", 
                type: "POST",
                data: formData,
                async: true,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                headers: {"Authorization": "Token "+token},
                success: function(data){
                    if(data["error"]){
                        alertify.error(data["error"], 4);
                    }else{
                        const div = document.createElement("div");
                        div.classList.add("service-image-block");
                        div.id= "image"+data["id"];
                        div.innerHTML = `
                            <img src="`+data["image"]+`"  alt="" class="service-image">
                            <div class="image-trash" onclick="delete_image(`+data["id"]+`)"></div>
                        `;
                        images_form = document.getElementById('images');
                        images_form.insertBefore(div, images_form.children[images_form.children.length-1]);
                        
                        alertify.success("Изображение добавлено!", 4);
                        $('#images')[0].reset();
                    }
                    
                },
            });   
            //$('#images').submit();
        }

        function add_main_image(input){  
            token = get_token();
            var formData = new FormData($("#main_image_form")[0])
            $.ajax({
                url: "/api/update_avatar/", 
                type: "POST",
                data: formData,
                async: true,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                headers: {"Authorization": "Token "+token},
                success: function(data){
                    if(data["error"]){
                        alertify.error(data["error"], 4);
                    }else{
                        main_img = $("#img_main_image")[0];
                        main_img.src = data["image"];
                    
                        alertify.success("Изображение изменено!", 4);
                    }
                    
                },
            });   
            //$('#main_image_form').submit();            
        }

        function delete_image(image){
            description = $("#description")[0];
            if(description.disabled == true){
                return;
            }
            token = get_token();
            $.ajax({
                url: "/api/images/"+image+"/", 
                type: "DELETE",
                headers: {"Authorization": "Token "+token},
                success: function(data){
                    image = $("#image"+image)[0];
                    image.remove();
                    
                    alertify.success("Изображение удалено!", 4);
                },
            });

        }
    //237px
        function close_all_blocks(){
            days = $(".day-of-week-up");
            blocks = $(".edit-day-block");
            for(var i = 0; i < days.length; i++){
                days[i].style.backgroundColor = "white";
                days[i].style.color = "black";
                blocks[i].style.display = "none";
            }
        }

        function open_edit_block(schedule){
            day_of_week = $("#day-of-week"+schedule)[0];
            edit_block = $("#edit-block"+schedule)[0];
            description = $("#description")[0];
            table = $(".timelines");
            add_block = $(".add-timeline-block");
            if(description.disabled == true){
                return;
            }
            if(day_of_week.style.backgroundColor != "white" && day_of_week.style.backgroundColor != ""){
                day_of_week.style.backgroundColor = "white";
                day_of_week.style.color = "black";
                edit_block.style.display = "none";
                
            }else{
                window.onclick = function(event) {
                    if(!event.path.includes(edit_block) && event.target != day_of_week){
                        close_all_blocks();
                    }
                    // if (event.target != edit_block && event.target != day_of_week && event.target != table && event.target != add_block) {
                        
                    // }
                }
                close_all_blocks();
                
                day_of_week.style.backgroundColor = "#570499";
                day_of_week.style.color = "white";
                edit_block.style.display = "block"; 
                
            }
            
        }

        function add_timeline(schedule, day){
            console.log(day);
            token = get_token();
            $.ajax({
                url: "/api/add_timeline/", 
                type: "POST",
                headers: {"Authorization": "Token "+token},
                data: {
                    "schedule": schedule,
                    "day": day.toString(),
                },
                success: function(data){
                    console.log(data);
                    const timeline_block = document.createElement("tr");
                    timeline_block.id = "current_timeline"+data["id"];
                    timeline_block.innerHTML = `
                    <td>
                        <div class="delete-timeline" onclick="delete_timeline(`+data["id"]+`)"></div>
                        <input type="time" placeholder="`+data["start_time"]+`" value="`+data["start_time"]+`" class="day-of-week-down day">
                        <span> - </span>
                        <input type="time" placeholder="`+data["end_time"]+`" value="`+data["end_time"]+`" class="day-of-week-down day">
                        <input disabled value="`+data["id"]+`" style="position: absolute; visibility: hidden; z-index: -5;">
                    </td>  
                    <td>
                        <input type="text" placeholder="`+data["limit_people"]+`" value="`+data["limit_people"]+`" class="day-of-week-down place">
                    </td>                  
                    <td>
                        <input type="text" placeholder="`+data["price"]+`" value="`+data["price"]+`" class="day-of-week-down price">
                    </td>
                    `;
                    document.getElementById("timeline"+schedule).children[0].appendChild(timeline_block);

                }
            });
        }

        function delete_timeline(timeline){
            token = get_token();
            console.log(token);
            $.ajax({
                url: "/api/timelines/"+timeline+"/", 
                type: "DELETE",
                headers: {"Authorization": "Token "+token},
                success: function(data){
                    current_timeline = $("#current_timeline"+timeline);
                    current_timeline.remove();
                }
            });
        }

        // $('html').click(function() {
        //     close_all_blocks();
        // })
        
        

    </script>

    
{%endblock%}

