<div class="wrap">    
    <div class="content-title">
        Сейчас тренируются
    </div>
    <div class="content-under-title">
        {{current_company.name}}
    </div>
    <div class="scrollable">
        <table id="table">
            <tr class="head">
                <th>Телефон</th>
                <th>Имя</th>
                <th>Дата старта</th>
                <th>Время старта</th>
            </tr>
            {{#unless trains}}
                <tr id="no_train">
                    <td colspan="4">В данный момент никто не занимается</td>
                </tr>
            {{/unless}}
            
            {{#each trains }}
                <tr id="timer{{this.id}}">
                    <td>{{this.user.phone}}</td>
                    <td>{{this.user.name}}</td>
                    <td>{{formatDate this.start_time 'yyyy-MM-DD'}} {{this.start_time}}</td>
                    <td>{{formatDate this.start_time 'hh:mm'}}</td>                    
                </tr>
            {{/each}}
            
        </table>
    </div>
</div>

{{!-- <script language="javascript">
    var ws_scheme = "wss://"//window.location.protocol == "https:" ? "wss" : "ws";
    //var chat_socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/chat" + window.location.pathname);
    var ws_url = ws_scheme + window.location.host + '/ws/timers/';
    var ticksSocket = new WebSocket(ws_url);

    ticksSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        if({{current_user.company.id}} == data["company_id"]){
            if(data["minutes"] != null){
                tr = $("#timer_minutes"+data["id"])[0];
                if(tr){
                    tr.innerText = data["minutes"] + " минут";
                }
            }
            if(data["finished_train_id"] != null){
                tr = $("#timer"+ data["delete_id"]);
                tr.remove();
                if($("tr").length == 1){
                    const empty_tr = document.createElement("tr");
                    empty_tr.id = "no_train";
                    empty_tr.innerHTML = `<td colspan="4">В данный момент никто не занимается</td>`;
                    document.getElementById('table').appendChild(empty_tr);
                }
            }
            if(data["new_timer"] != null){
                if($("#no_train")[0] != null){
                    empty_tr = $("#no_train");
                    empty_tr.remove();
                }
                
                const tr = document.createElement('tr');

                tr.id = 'timer' + data["timer_id"];
                tr.innerHTML = `
                <td>`+data["timer_user"]+`</td>
                <td>`+data["timer_start"].slice(0, -3)+`</td>
                
                `;

                document.getElementById('table').appendChild(tr);
            }
        }
    };
    ticksSocket.onerror = function(event) {
        console.log(event);
        var data = JSON.parse(event.data);
        console.log('data', data);
    };
</script> --}}